<% layout("/layouts/boilerplate") -%>
<div class="alert alert-warning d-flex align-items-center mt-5" role="alert">
    <div style="text-align: center; width: 100%; font-size: 1.5rem;">
      <%=message%>
    </div>
  </div>