<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Create a New Listing</h1>
    <form action="http://localhost:8080/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="listing[title]" id="title" placeholder="Write the title" required >
            <div class="invalid-feedback">
                Enter a valid Title
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" id="description" placeholder="Description" required></textarea>
            <div class="invalid-feedback">
                Enter a valid description
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" name="listing[image]" id="image" placeholder="Enter the url of the image" required>
            <div class="valid-feedback">
                This field is optional
            </div>
        </div>
        <div class="mb-3">
            <label for="pirce" class="form-label">Pirce</label>
            <input type="number" class="form-control" name="listing[price]" id="price" placeholder="Enter the price" required>
            <div class="invalid-feedback">
                Enter a valid Price
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="listing[location]" id="location" placeholder="Enter the location" required>
            <div class="invalid-feedback">
                Enter a valid Location
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="listing[country]" id="country" placeholder="Enter the country" required >
            <div class="invalid-feedback">
                Enter a valid Country
            </div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</div>
</div>
</body>