<% layout("/layouts/boilerplate") -%>

<div class="row">
    <div class="col-6 offset-3">
        <form action="http://localhost:8080/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="usernameId" class="form-label mt-3">Username</label>
                <input type="text" name="username" id="usernameId" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Enter a valid Username!
                </div>
            </div>
            <div class="mb-3">

                <label for="passwordId" class="form-label mt-3">Password</label>
                <input type="password" name="password" id="passwordId" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Enter a valid Password!
                </div>
            </div>
            <button class="btn btn-dark">Submit</button>
        </form>

    </div>
</div>


